<div class="user">
    <div class="name-block" (click)="showDetail()">
        <span>{{item.firstName}} {{item.lastName}} </span>
        <span><button class="btn-edit" (click)="userSelected()">Edit</button></span>
    </div>

    <div [hidden]="hideDetail">
        <div class="user-email">{{item.email}}</div>
        <div class="dates-block">
            <div class="user-registered-at">Registered at: {{item.registeredAt | datePipe}}</div>
            <div class="user-birthday">Birthday: {{item.birthday | datePipe}}</div>
        </div>
    </div>
</div>