<div class="team">
    <div class="name-block" (click)="showDetail()">
        <span>{{item.name}} </span>
        <span><button class="btn-edit" (click)="teamSelected()">Edit</button></span>
    </div>

    <div [hidden]="hideDetail">
        <p *ngIf="users.length != 0">Users: </p>
        <p *ngFor='let user of users'> {{user}} </p>
        <div class="dates-block">
            <div class="team-created-at">Created at: {{ item.createdAt | datePipe}}</div>
        </div>
    </div>

</div>
