<button class="btn" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreate"> Create </span>
    <span [hidden]="hideCreate"> Close </span>
</button>

<app-project-create [title]="title" [hidden]="hideCreate" [project]="selectedProject" (projectChange)="save($event)">
</app-project-create>

<projects-list [projects]="projects" (itemSelected)="select($event)">
</projects-list>