<div class="task">
    <div class="name-block" (click)="showDetail()">
        <span [style.color]="colorState">⬤ </span>
        <span>{{item.name}} </span>
        <span><button class="btn-edit" (click)="taskSelected()">Edit</button></span>
    </div>

    <div [hidden]="hideDetail">

        <p *ngIf="!!project"> Projects for this task: </p>
        <p *ngIf="!!project"> {{project.name}} </p>

        <div class="task-details">{{item.description}}</div>
        <div class="dates-block">
            <div>{{item.createdAt | datePipe}}</div>
            <div>{{item?.finishedAt | datePipe}}</div>
        </div>

    </div>

</div>