.task{
    border: 1px solid darkgrey;
    border-radius: .7rem;
    margin-bottom: .5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: lightgrey;
}

.name-block{
    font: 1.5rem bold;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: .5rem;
    margin-right: .5rem;
}

.dates-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: .5rem;
    margin-right: .5rem;
}

.task-details {
    margin-top: .4rem;
    font-size: 1rem;
}

.btn-edit{
    cursor: pointer;
    border: 1px solid ;
    border-radius: .25rem;
}