<button class="btn" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreate"> Create </span>
    <span [hidden]="hideCreate"> Close </span>
</button>
<p>
    <span style="color:coral">⬤ Created</span>
    <span style="color:blue"> ⬤ Started</span>
    <span style="color:green"> ⬤ Finished</span>
    <span style="color:red"> ⬤ Canceled</span>
</p>

<app-task-create [title]="title" [hidden]="hideCreate" [task]="selectedTask" (taskChange)="save($event)">

</app-task-create>

<tasks-list [tasks]="tasks" (itemSelected)="select($event)">

</tasks-list>