.title {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: #959595;
    margin-bottom: 3em;
  }
  .title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    border-bottom: 3px solid #e2cef9;
    width: 100%;
  }

  .help{
      font-weight: 300;
      font-size: 0.8rem;
      font-style: italic;
  }