<div class="title">
    {{title}}
</div>
        
<div style="display: flex; flex-direction: column;">
        <task-details *ngFor="let task of tasksList; let index = index" [item]="task" [index]='index' (itemSelected)="taskSelected($event)">
        </task-details>
</div>
        
