<form (ngSubmit)="saveTask()" [formGroup]="taskForm">
    <h1>
        {{title}} a task
    </h1>
    <div class="group">
        <input type="text" formControlName="name" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
        <div class="custom-error required-error" [ngClass]="taskForm.get('name').errors">
            Data is required
        </div>
    </div>

    <div class="group">
        <input type="text" formControlName="description" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Description</label>
        <div class="custom-error required-error" [ngClass]="taskForm.get('description').errors">
            Data is required
        </div>
        <div class="custom-error maxlength-error" [ngClass]="taskForm.get('description')?.errors">
            Max length is 250
        </div>
    </div>

    <div class="group">
        <select formControlName="state">
            <option [ngValue]="1">Started</option>
            <option [ngValue]="2">Finished</option>
            <option [ngValue]="3">Canceled</option>
            <option [ngValue]="4">Created</option>
        </select>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>State</label>
        <div class="custom-error required-error" [ngClass]="taskForm.get('state').errors">
            Data is required
        </div>
    </div>

    <div class="group">
        <input type="text" formControlName="projectId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Project Id</label>
        <div class="custom-error required-error" [ngClass]="taskForm.get('projectId').errors">
            Data is required
        </div>
        <div class="custom-error team-not-exist-error" [ngClass]="taskForm.get('projectId')?.errors">
            Data is required
        </div>
    </div>

    <div class="group">
        <input type="text" formControlName="performerId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Performer Id</label>
        <div class="custom-error required-error" [ngClass]="taskForm.get('performerId').errors">
            Data is required
        </div>
        <div class="custom-error team-not-exist-error" [ngClass]="taskForm.get('performerId')?.errors">
            Data is required
        </div>
    </div>

    <div class="btn-box">
        <button class="btn btn-submit" type="submit" [disabled]="taskForm.invalid">submit</button>
        <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
    </div>

</form>