<form (ngSubmit)="saveProject()" [formGroup]="projectForm">
    <h1>
        {{title}} a project
    </h1>
    <div class="group">
        <input type="text" formControlName="name" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
        <div class="custom-error required-error" [ngClass]="projectForm.get('name').errors">
            Data is required
        </div>
    </div>

    <div class="group">
        <input type="text" formControlName="description" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Description</label>
        <div class="custom-error required-error" [ngClass]="projectForm.get('description').errors">
            Data is required
        </div>
        <div class="custom-error maxlength-error" [ngClass]="projectForm.get('description')?.errors">
            Max length is 250
        </div>
    </div>

    <div class="group">
        <input type="date" formControlName="deadline" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Deadline</label>
        <div class="custom-error required-error" [ngClass]="projectForm.get('deadline').errors">
            Data is required
        </div>
    </div>

    <div class="group">
        <input type="text" formControlName="teamId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Team Id</label>
        <div class="custom-error required-error" [ngClass]="projectForm.get('teamId').errors">
            Team Id is required
        </div>
        <div class="custom-error team-not-exist-error" [ngClass]="projectForm.get('teamId')?.errors">
            Team Id is required
        </div>
    </div>

    <div class="group">
        <input type="text" formControlName="authorId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Author Id</label>
        <div class="custom-error required-error" [ngClass]="projectForm.get('authorId').errors">
            Author Id is required
        </div>
        <div class="custom-error team-not-exist-error" [ngClass]="projectForm.get('authorI_id')?.errors">
            Author Id is required
        </div>
    </div>

    <div class="btn-box">
        <button class="btn btn-submit" type="submit" [disabled]="projectForm.invalid">submit</button>
        <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
    </div>

</form>