<button class="btn" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreate"> Create </span>
    <span [hidden]="hideCreate"> Close </span>
</button>

<app-user-create [title]="title" [hidden]="hideCreate" [user]="selectedUser" (userChange)="save($event)">
</app-user-create>

<users-list [users]="users" (itemSelected)="select($event)">
</users-list>