
  form {
	width: 320px;
	margin: 45px auto;
  }
  form h1 {
	font-size: 2em;
	font-weight: 300;
	text-align: center;
	color: #2196f3;
  }

  form hr.sep {
	background: #2196f3;
	box-shadow: none;
	border: none;
	height: 2px;
	width: 25%;
	margin: 0px auto 45px auto;
  }
  .group {
	position: relative;
	margin: 1rem 0;
  }
  textarea {
	resize: none;
  }
  input, textarea, select {
	background: none;
	color: #c6c6c6;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	width: 320px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #c6c6c6;
  }
  input:focus, textarea:focus {
	outline: none;
  }
  input:focus ~ label, textarea:focus ~ label, input.ng-dirty ~ label, textarea.ng-dirty ~ label, input.ng-touched ~ label,  input.ng-valid ~ label {
	top: -14px;
	font-size: 12px;
	color: #2196f3;
  }
  input:focus ~ .bar:before, textarea:focus ~ .bar:before {
	width: 320px;
  }
  input[type="password"] {
	letter-spacing: 0.3em;
  }
  input.ng-invalid.ng-touched ~ .error,
  input.ng-invalid.ng-touched ~ .custom-error,
  input.ng-invalid.ng-dirty ~ .error,
  input.ng-invalid.ng-dirty ~ .custom-error {
	font-size: 12px;
    color: #f34049;
  }
  input.ng-invalid.ng-touched ~ .custom-error {
	display: none;
  }
  input.ng-pristine ~ .error,
  input.ng-pristine ~ .custom-error,
  input.ng-untouched ~ .error,
  input.ng-untouched ~ .custom-error,
  input.ng-valid ~ .error,
  input.ng-valid ~ .custom-error {
    display: none;
  }
  .custom-error.minlength-error.minlength {
      display: block !important;
  }
  input.ng-invalid.ng-touched ~ .custom-error.required-error.required {
      display: block !important;
  }
  label {
	color: #c6c6c6;
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 300ms ease all;
  }
  .bar {
	position: relative;
	display: block;
	width: 320px;
  }
  .bar:before {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0px;
	position: absolute;
	background: #2196f3;
	transition: 300ms ease all;
	left: 0%;
  }
  .btn {
	background: #fff;
	color: #959595;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-decoration: none;
	outline: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .btn:hover {
	color: #8b8b8b;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
  .btn.btn-link {
	background: #2196f3;
	color: #d3eafd;
  }
  .btn.btn-link:hover {
	background: #0d8aee;
	color: #deeffd;
  }
  .btn.btn-submit {
	background: #2196f3;
	color: #bce0fb;
  }
  .btn.btn-submit:hover {
	background: #0d8aee;
	color: #deeffd;
  }
  .btn.btn-cancel {
	background: #eee;
  }
  .btn.btn-cancel:hover {
	background: #e1e1e1;
	color: #8b8b8b;
  }
  .btn-box {
	text-align: center;
	margin: 50px 0;
  }
  .btn-submit:disabled, .btn-submit:disabled:hover {
      background: #9bafc0;
  }
