<form (ngSubmit)="saveUser()" [formGroup]="userForm">
    <h1>
        {{title}} a user
    </h1>
    <div class="group">
        <input type="text" formControlName="firstName" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>First Name</label>
        <div class="custom-error required-error" [ngClass]="userForm.get('firstName').errors">
            Data is required
        </div>
    </div>

    <div class="group">
        <input type="text" formControlName="lastName" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Last Name</label>
        <div class="custom-error required-error" [ngClass]="userForm.get('lastName').errors">
            Data is required
        </div>
    </div>

    <div class="group">
        <input type="date" formControlName="birthday" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Birthday</label>
        <div class="custom-error required-error" [ngClass]="userForm.get('birthday').errors">
            Data is required
        </div>
    </div>

    <div class="group">
        <input type="email" formControlName="email" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
        <div class="custom-error required-error" [ngClass]="userForm.get('email').errors">
            Data is required
        </div>
    </div>

    <div class="group">
        <input type="text" formControlName="teamId" autocomplete="off">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Team Id</label>
    </div>

    <div class="btn-box">
        <button class="btn btn-submit" type="submit" [disabled]="userForm.invalid">submit</button>
        <button class="btn btn-cancel" type="button" (click)="revert()">cancel</button>
    </div>

</form>