<button class="btn" (click)="showEdit()" style="margin-bottom: 1em;">
    <span [hidden]="!hideCreate"> Create </span>
    <span [hidden]="hideCreate"> Close </span>
</button>

<app-team-create [title]="title" [hidden]="hideCreate" [team]="selectedTeam" (teamChange)="save($event)">

</app-team-create>

<teams-list [teams]="teams" (itemSelected)="select($event)">

</teams-list>