<div class="title">
    {{title}}
</div>
            
<div style="display: flex; flex-direction: column;">
    <user-details *ngFor="let user of usersList; let index = index" [item]="user" [index]='index' (itemSelected)="userSelected($event)">
            
    </user-details>
</div>

