<div class="project">
    <div class="name-block" (click)="showDetail()">
        <span>{{item.name}} </span>
        <span class="btn"><button class="btn-edit" (click)="projectSelected()">Edit</button></span>
    </div>

    <div [hidden]="hideDetail">
        <div class="project-details">{{item.description}}</div>
        <div class="dates-block">
            <div class="project-created-at">Created at: {{item.createdAt | datePipe}}</div>
            <div class="project-deadline">Deadline: {{item.deadline | datePipe}}</div>
        </div>
    </div>

</div>